<div>
  <h1 style="text-align: center;"> Animal Images</h1>
</div>

<div>
  <app-cards *ngFor="let card of cards" [card]="card"></app-cards>
</div>



<!-- <div class="card">
    <div style="display: flex">
      <div class="separate1">
        <h3 style="text-align:center"> KUCING </h3>
        <table>
          <tr>
            <td>
              <div>
                <img class="images" src="../../../assets/images/kucing.jpg">
                <p style="text-align:center"><app-cards></app-cards></p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div> -->
<!-- 
<h1>{{appName}}</h1> -->
