<!-- <mat-form-field>
  <input matInput class="form-field" [formControl]="nameFilter" placeholder="Name Filter" #input>
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput class="form-field" [formControl]="userFilter" placeholder="User Filter" #input>
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput class="form-field" [formControl]="emailFilter" placeholder="Email Filter" #input>
</mat-form-field> -->

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia"  #input>
</mat-form-field>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia"  #input>
</mat-form-field>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia"  #input>
</mat-form-field>

<mat-form-field appearance="fill" class="no-label-field">
  <mat-select [formControl]="statusFilter">
    <mat-option value="">Select Status</mat-option>
    <mat-option *ngFor="let source of availableSources" [value]="source.value">
        {{source.status}}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- <mat-form-field >
  <mat-select [(value)]="filterValue" placeholder="Type" (click)="statusFilter($event)">
    <mat-option *ngFor="let type of display" [value]="type" >
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> 
        {{row.civility}}.{{row.last_name}} {{row.first_name}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="user_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
      <td mat-cell *matCellDef="let row"> {{row.company.user_type}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> 
        <mat-icon [ngStyle]="{color:'green'}" *ngIf="row.user_status === 'active'">done</mat-icon>
        <mat-icon [ngStyle]="{color:'red'}" *ngIf="row.user_status === 'pending'">close</mat-icon>
      </td>
      
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [length]="15" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
</div>