body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(240, 100%, 91%);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

/* header */
.top {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    text-align: center;
  }
  
  .text {
    align-self: center;
    max-width: 600px;
    margin: auto 0;
    padding-bottom: 1em;
  }

/* navbar */
  nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: purple;
    width: 100%;
    z-index: 9;
  }
  
  .menu {
    font-size: 25px;
    display: none;
    width: 44px;
    height: 44px;
    color: var(--secondary-color);
  }
  
  .menu:hover {
    cursor: pointer;
  }
  
  .font {
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 40px;
  }
  
  .nav-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    transition: ease;
    color: white;
  }
  
  .nav-item {
    box-sizing: border-box;
    line-height: 24px;
  }
  
  .nav-item a {
    padding: 0.7rem;
    display: inline-block;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
  }
  
  
  .nav-item a:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }
  
/*form*/
form {
  margin: 2em 3em;
  padding: 1.0em;
  border: 3px dotted purple;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}
.form-control {
  display: block;
  width: 90%;
  min-height: 45px;
  padding: 0.3em;
  font-size: 1em;
  color: purple;
  background-color: rgb(213, 183, 247);
  margin-left: auto;
  margin-right: auto;
  
}

.form-label {
  padding-bottom: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: small;
  color: purple;
  
}
input[type=text] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 18px;
}
input[type=date] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 18px;
}
input[type=email] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 78px;
}

input[type=tel] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 49px;
}

input[type=number] {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 89px;
}

input[type=url] {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 53px;
}

textarea{
  width: 70%;
  height: 80px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  vertical-align: middle;
}

input[type=submit] {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-left: 35%;
  margin-right: 35%;
  background-color: purple;
  color: white;
}
.civ {
  margin-left: 75px;
}

/*footer*/

footer {
  padding: 0.5em;
  width: 98.8%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  bottom: 0;
  height: 20px;
  background-color: rgb(102, 38, 102);
  left: 0;
}

footer p {
  color: white;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  margin-top: 2px;
}
