<h1 style="text-align: center;"> Add  Shopping Cart</h1>
<div class="row">
  <div class="col-xs-12">
    <label style="margin-left: 0;"> Name of Product</label>
    <input type="text" class="form-name" #serverNameInput><br>

    <label> Type of Product</label>
    <input type="text" class="form-content" #serverContentInput>
    <br>

    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)"> Add Product </button>
    <!-- <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)"> Add Server Blueprint </button> -->
  </div>
</div>