.row{
  background-color: rgb(252, 193, 240);
}
.col-xs-12{
  text-align: center;
}
button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    width: 20%;
    height: 40px;
    background-color: rgb(219, 95, 163);
    color: white;
}
input{
  width: 70%;
  height: 30px;
}
label{
  text-align: center;
}
.form-name{
  margin-left: 10px;
  margin-top: 30px;
}
.form-content{
  margin-left: 15px;
  margin-top: 30px;
}
/* * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  .toggle-sidebar {
    border: none;
    background-color: #3097af;
    color: white;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .sidebar {
    height: 100vh;
    width: 200px;
    list-style: none;
    background-color: #3097af;
  }
  .sidebar li a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid silver;
    transition: background-color 0.5s;
  }
  .sidebar li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  } */