<mat-drawer-container class="example-container" autosize>
    <div class="container">
      <div class="sidenav">
        <app-sidenav></app-sidenav>
        <!-- <a routerLink="/movie-list" routerLinkActive="active" ariaCurrentWhenActive="page" class="movie-list"><button (click)="movieList()" mat-raised-button>Movie</button></a>
        <a routerLink="/actor-list" routerLinkActive="active" ariaCurrentWhenActive="page" class="movie-list"><button (click)="actorList()" mat-raised-button>Actors</button></a>
        <button mat-raised-button>About</button> -->
      </div>
  
      <div class="example-sidenav-content">
        <h1> ABOUT </h1>
        <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFhqSSZx4p5og/company-logo_200_200/0?e=2159024400&v=beta&t=X3Uty-TaaBJvLX9fiUjm1KMAcRN_Np5nQnXh69fqIK4">
      </div>
    </div>
  </mat-drawer-container>
  
  
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->