<!-- <div class="container">
    <app-sidebar 
    (serverCreated)="onServerAdded($event)" 
    (bpCreated)="onBluePrintAdded($event)"></app-sidebar>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-table 
            *ngFor="let serverElement of serverElements" [element]="serverElement">
                <p>
                    <strong *ngIf="serverElement.type === 'server">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }} </em>
                </p>
            </app-table>
        </div>
    </div>
</div> -->
<!-- <app-sidebar [namePerson]="person" (nameChild)="addNewName($event)"></app-sidebar> -->