<nav>
  <a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="home">HOME</a>
  <a routerLink="/detail-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="detail">DETAIL</a>
  <!-- <ul>
    <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
  </ul>
  <ul>
    <li><a routerLink="/detail-component" routerLinkActive="active" ariaCurrentWhenActive="page">Detail</a></li>
  </ul>
   -->
</nav>

<router-outlet></router-outlet>
