body {
    background-color: #B7C4CF;
    background-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 header {
    display: inline;
 }

 /*index*/
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 50px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto
  }
  
  .flex-container > div {
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
 .menu {
    font-size: 20px;
    background-color: #134f5c;
    background-size: 100%;
    color: white;
    margin: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
 }
 h1{
    margin: 0;
    color: white;
    font-size: 2em;
    margin-left: 20px;
}
.Jam h2{
    font-size: 3em;
    display: inline;
}
.Jam p{
    font-size: 12px;
}
 .featured-image {
    width: 225px;
    height: 300px;
    padding: 10px;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
 }
 .Jam {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #967E76;
    background-size: 100%;
    border: 2px solid;
 }
 .jam{
    text-align: center;
    font-weight: bold;
    background-color: #D7C0AE;
    border-radius: 5px;
    font-size: 3em;
 }
a{
     text-decoration: none;
     color: black;
 }

/*pseudo class*/
.jam:hover{
    background-color: #B7C4CF;
    font-size: 3em;
    border-radius: 5px;
}
 footer {
    padding: 3px;
    color: white;
    background-color: #134f5c;
    background-size: 100%;
    text-align: center;
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
 }
.about{
    color: white;
}
.contact{
    color: white;
}
 /*Container*/
 .container{
    display: flex; 
    padding: 20px;
    margin-top: 40px;
    margin-left: 30px;
 }
.text p{
    text-align: justify;
    margin-right: 80px;
}
 /*View*/
 .view{
     font-size: 2em;
     align-items: center;
 }

 /*Shopping List button*/
 .active{
    color: white;
 }
 a:not(.active){
     color: grey;
 }
 .button{
     float: right;
     margin-right: 60px;
     margin-top: 60px;
     background-color: #134f5c;
     width: 20%;
     color: white;
 }
 a:hover{
     color: white;
 }
 .home{
     margin-top: 60px;
 }

 /*Add Item*/
 form {
    margin: 2em 3em;
    padding: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
  }
  input[type=text] {
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    padding: 12px;
    margin-bottom: 18px;
  }

  /*Upload Images*/
  .upload{
    position: relative;
    overflow: hidden;
    border: 3px dotted #134f5c;
    margin-right: 60px;
    margin-left: 50px;
    height: 150px;
    }
    
    .btn {
    color: white;
    background-color: #134f5c;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transform: translate(+55%, +100%);
    }
    
    .upload input[type=file] {
    font-size: 100px;
    position: absolute;
    opacity: 0;
    }

    /*ABOUT*/
    .table{
        width: 70%;
        margin: auto;
        align-items: center;
        margin-top: 80px;
        border-color: brown;
        color: black;
        text-align: center;  
    }  

    /*CONTACT*/
    .wrapper{
        margin-top: 100px;
    }
    .form{
        margin: 2em 3em;
        padding: 1.0em;
        border: 3px dotted #134f5c;
        width: 50%;
        margin: auto;
        margin-bottom: 80px;
    }
    input[type=submit] {
        width: 50%;
        border-radius: 10px;
        box-sizing: border-box;
        margin-top: 6px;
        background-color: #134f5c;
        color: white;
        cursor: pointer;
      }