body {
    background-color: #B7C4CF;
    background-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 header {
    display: inline;
 }
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 50px;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
 .menu {
    font-size: 20px;
    background-color: #D7C0AE;
    background-size: 100%;
    text-align: center;
    color: white;
    margin: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
 }
 h1{
    margin: 0;
    color: black;
    font-size: 2em;
}
 .featured-image {
    width: 225px;
    height: 300px;
    padding: 10px;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
 }
 .profile img {
    width: 200px;
 }
 .Jam {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #967E76 !important;
    background-size: 100%;
    border: 2px solid;
 }
 .jam{
    text-align: center;
    font-weight: bold;
    background-color: #D7C0AE;
    border-radius: 5px;
    font-size: 3em;
 }
a{
     text-decoration: none;
     color: black;
 }
 .row {
    display: flex;
    margin-left: 200px;
 }
/*pseudo class*/
.jam:hover{
    background-color: #B7C4CF;
    font-size: 3em;
    border-radius: 5px;
}
 footer {
    padding: 3px;
    color: black;
    background-color: #D7C0AE;
    background-size: 100%;
    text-align: center;
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
 }