<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{actors.nama}}</mat-card-title>
      <mat-card-subtitle>{{actors.deskripsi}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image alt="Photo of a Shiba Inu" [src]="actors.img"> 
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>