<a routerLink="/movie-list" routerLinkActive="active" ariaCurrentWhenActive="page" class="movie-list"><button
    (click)="movieList()" mat-raised-button>Movie</button></a>
<a routerLink="/actor-list" routerLinkActive="active" ariaCurrentWhenActive="page" class="actor-list"><button
    (click)="actorList()" mat-raised-button>Actors</button></a>
<a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="movie-list"><button (click)="about()" mat-raised-button>About</button></a>
