<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> <label for="username">Name</label> </mat-label>
            <input matInput type="text" id="name" formControlName="name" class="form-control">
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> <label for="age">Age</label> </mat-label>
            <input matInput type="number" id="age" formControlName="age" class="form-control">
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> <label for="email">email</label> </mat-label>
            <input matInput type="email" id="email" formControlName="email" class="form-control">
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> <label for="position">Position</label></mat-label>
            <mat-select>
              <mat-option value="backend"> Backend </mat-option>
              <mat-option value="frondend"> FrondEnd </mat-option>
              <mat-option value="qa"> QA </mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> <label for="status">status</label></mat-label>
            <mat-select>
              <mat-option value="Married"> Married </mat-option>
              <mat-option value="Singgle"> Singgle </mat-option>
            </mat-select>
  
          </mat-form-field><br>
  
          <label> Gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <input type="radio" formControlName="genders" [value]="gender">{{ gender }}
          </div><br>
  
          <div formGroupName="address">
            <h2>Address</h2>
  
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> <label for="address">Address: </label></mat-label>
              <input matInput id="address" type="text" formControlName="address">
            </mat-form-field><br>
  
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> <label for="zip">Zip Code: </label></mat-label>
              <input matInput id="zip" type="text" formControlName="zip">
            </mat-form-field><br>
  
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> <label for="city">City: </label></mat-label>
              <input matInput id="city" type="text" formControlName="city">
            </mat-form-field><br>
  
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> <label for="country">Country: </label></mat-label>
              <input matInput id="country" type="text" formControlName="country">
            </mat-form-field><br>
          </div>
  
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
        </form>
      </div>
    </div>
  </div>
  

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" id="age" formControlName="age" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">email</label>
          <input type="email" id="email" formControlName="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="position">Postition</label>
          <select type="text" id="position" formControlName="position" class="form-control">
            <option value="CEO">CEO</option>
            <option value="Directur">Directur</option>
            <option value="PC">PC</option>
          </select>
        </div>

        <div class="form-group">
          <label for="marital_status">Marital Status</label>
          <select type="text" id="marital_status" formControlName="marital_status" class="form-control">
            <option value="Merried">Merried</option>
            <option value="Single">Single</option>
          </select>
        </div>

        <label> Gender</label>
        <div class="radio" *ngFor="let gender of genders">
          <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
        </div>

        <div formGroupName="address">
          <h2>Address</h2>

          <label for="address">Address: </label>
          <input id="address" type="text" formControlName="address">

          <label for="zip">Zip Code: </label>
          <input id="zip" type="text" formControlName="zip">

          <label for="city">City: </label>
          <input id="city" type="text" formControlName="city">

          <label for="country">Country: </label>
          <input id="country" type="text" formControlName="country">
        </div>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
      </form>
    </div>
  </div>
</div> -->

<!-- <label for="name">Name: </label>
<input id="name" type="text" [formControl]="name">
<button type="button" (click)="updateName()">Update Name</button>
<p>Value: {{ name.value }}</p> -->

