
<mat-list *ngIf="selectedData">
  <mat-list-item> Name : {{selectedData.name}} </mat-list-item>
  <mat-list-item> Author : {{selectedData.author}} </mat-list-item>
  <mat-list-item> Publisher : {{selectedData.publisher}} </mat-list-item>
  <mat-list-item> Date : {{selectedData.date}}</mat-list-item>
  <mat-list-item> Publish Date : {{selectedData.publishdate}}</mat-list-item>
</mat-list>


<mat-card *ngIf="!selectedData"> 
  <mat-card-title>You dont have any selected book yet, Please select from list of book that available</mat-card-title>
</mat-card>