<main>
    <table style="width:50%;">
      <tr>
          <th>Nama Lengkap</th>
          <td>Dinda Kalista Sarimu</td>
          <th>Alamat</th>
          <td>Jalan Madesabara</td>
      </tr>
  
      <tr>
          <th>Nama Panggilan</th>
          <td>Dinda </td>
          <th>Status</th>
          <td>Mahasiswa</td>
      </tr>
      <tr>
          <th>NIM</th>
          <td>192102009 </td>
          <th>Prodi</th>
          <td>S1-Informatika</td>
      </tr>
      <tr>
          <th>Tempat/Tanggal Lahir</th>
          <td>Unaaha</td>
          <th>Nomor Telepon</th>
          <td>081254752240</td>
      </tr>
      <tr>
          <th>Jenis Kelamin</th>
          <td>Perempuan </td>
          <th>Fakultas</th>
          <td>FTTI</td>
      </tr>
      <tr>
          <th>Golongan Darah</th>
          <td>O </td>
          <th>Alamat Email</th>
          <td>dinda.kalista14@gmail.com</td>
    </table>
    </main>